html, body {
    width: 100%;
    height: 100%;
}

.jumbotron {
    background-image: url(/assets/images/jumbotron.jpg);
    background-size: cover;
    height: 950px;
    text-align: center;
}

.jumbotron .display-4 {
    color: white;
    margin-top: 250px;
}

.jumbotron p {
    color: white;
}

.jumbotron hr {
    border-color: white;
    width: 600px;
    border-width: 3px;
}

.jumbotron .btn {
    border-radius: 25px;
    padding-right: 25px;
    padding-left: 25px;
}

/* KETUA */

#ketua {
    padding: 80px 0;
}

.profile-img {
    width: 200px;
    border-radius: 50%;
}

.ketuasebelum {
    margin-top: 20px;
}

.service {
    padding: 20px;
}

.service h4 {
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}

.ketua::after {
    content: '';
    background: black;
    height: 5px;
    width: 480px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(10px);
}

/* APA ITU SENAKA */

#senaka {
    padding: 80px 0;
}

.senaka {
    padding-bottom: 40px;
}

.welcome {
    width: 75%;
}

/* MATERI SENAKA */
#materi {
    padding-bottom: 50px;
    padding-top: 50px;
}

.materi-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
}

#materi ul li {
    margin: 10px 0;
}

#materi ul {
    margin-left: 20px;
}